.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  img{
    width: 3rem;
    height: 3rem;
  }
  &__text{
    font: 400 2rem / 2.3rem 'Roboto',sans-serif;
    color: #FFFFFF;
    mark{
      color:#63B3ED;
      background: none;
    }
  }
}