
html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}
/*html {*/
/*    font-size: 10px;*/
/*}*/

@media (max-width: 1439px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 4px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 2px;
  }
}
/*html * {*/
/*    box-sizing: border-box;*/
/*}*/

/*body {*/
/*    font: 400 1.6rem / 1.9rem 'Roboto', sans-serif;*/
/*}*/

/*h1, h2, h3, h4, h5, h6, p, a, ul, ol {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*    text-decoration: none;*/
/*}*/